.commonNode {
  font-size: 18px;
  color: #121314;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .bold {
    font-weight: bold;
  }
}

.isDelivery {
  border: 5px solid rgb(249, 100, 7);
}

.taskNode {
  width: 300px;
  // max-width: 300px;
  overflow: hidden;
  white-space: wrap;
  word-break: break-all;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(244, 240, 250);

  span.text {
    text-align: left;
  }
}

.weightNode {
  min-width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(254, 227, 224);
}